.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ;
  position: relative;

}
.listItem:hover {
  background: aliceblue;
}
