.headerContainer{
  background-color: rgba(0,0,0, .6);;
  position: fixed;
  z-index: 22;
  top:0;
  left:0;
  bottom:0;
  height: 50px;
  width: 100%;
  transition-timing-function: ease-in-out;
  transition: .5s;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__element {
      cursor: pointer;
      font-family: Roboto;
      font-size: 17px;
      z-index: 99;

      &.cartNr {
        position: absolute;
        top: 0;
        right: 35px;
        color: white;
        border-radius: 10%;
        color: lightyellow;
      }
      &.label{
        color: lightyellow;
        margin-left: 20px;
      }
    }
  }

}
