.searchBar{
  display: inline-block;
  padding: 5px !important;
  border-radius: 8px !important;
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
  background: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-128.png) no-repeat scroll 5px 5px rgba(255,255,255,0.2);
  background-size: 26px 26px;
  padding-left: 35px !important;
  margin-right: 10px;
  max-width: 70%;
}
